

body {
	margin: 0;
}

header {
	font-size: 50px;
	margin: 20px 0 -10px 30px;
	font-family: Consolas;
	color: gray;
}
	
nav {
	margin-left: 30px;

}

p {
	width: 80%;
	font-family: consolas, serif;
	font-size: 20px;
	line-height: 30px;
	margin: 0px auto;
	text-transform: lowercase;
}



li{
	display: inline-block;
	margin: 20px;
	margin-left: 0;
	font-family: consolas;
	font-size: 14px;
}

a:link {
	text-decoration: none;
	color: gray;
}

a:visited {
	text-decoration: none;
	color: gray;
}

a:hover {
	color: orange;
}

.iframe1 {
	width: 385px;
	display: block;
	margin: 0 auto;
	height: 210px;
}
.iframe2 {
	width: 385px;
	display: block;
	margin: 0 auto;
	height: 210px;
}